m=120
doc-comments=before
let-and=sparse
break-cases=toplevel
break-struct=natural
sequence-style=terminator
cases-exp-indent=2
ocp-indent-compat=true
leading-nested-match-parens=true
break-infix=fit-or-vertical
break-separators=after-and-docked
type-decl=sparse
space-around-arrays=true
space-around-lists=true
space-around-records=true
space-around-variants=true
parens-ite=true
parens-tuple=multi-line-only
wrap-fun-args=true
break-infix-before-func=false
leading-nested-match-parens=true
break-sequences=true
field-space=loose