name: build and test

on:
  - push
  - pull_request

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        ocaml-compiler:
          - 4.14

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true
          allow-prerelease-opam: true

      - run: opam install . ocamlformat.0.26.2

      - name: compile
        run: opam exec -- make

      - name: run test
        run: opam exec -- make test

      - name: check ocamlformat
        run: opam exec -- make fmt
