name: build and test

on:
  - push
  - pull_request

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 4.14

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: sudo apt-get update

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

        # apt update is implicit
        # pinning package implicit
        # depext install implicit
      - run: opam install . ocamlformat.0.20.1

      - name: compile
        run: opam exec -- make

      - name: run test
        run: opam exec -- make test

      - name: check ocamlformat
        run: opam exec -- make fmt
